.edit-project{
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    
}
.proj-inputs {
    background-color:rgb(105, 4, 4) ;
    color: white;
    min-width: 600px;
    min-height: 400px;
    border-radius: 20px;
    padding-top: 50px;
}
.del{
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px rgb(105, 4, 4) solid;
    border-radius: 10px;
    color: rgb(105, 4, 4);
}
.del:hover{
    background-color: rgb(105, 4, 4);
    color: white;
}

.proj-inputs select{
    border-radius: 10px;
    min-width: 150px;
    height: 27px;
    padding: 5px;
    margin: 10px;
}
.proj-inputs input{
    margin: 10px;
}
.proj-inputs button{
    border-radius: 10px;
    padding: 10px 20px;
    border: white 2px solid;
    margin: 10px;
    background-color: rgb(105, 4, 4);
    color: white;
}
.proj-inputs button:hover{
    background-color: white;
    color: rgb(105, 4, 4);
}