

.add-project{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    border-left: solid #6c0000 4px;
    margin: 100px;
    min-height: 60vh;
    background-color:white;
    min-width: 30vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.add-project input{
    border:2px #6c0000 solid;
    margin: 5px;

}
.add-project button{
    border-radius: 10px;
    border: transparent;
    margin-top: 20px;
    background-color: #6c0000;
    color: white;
    height: 35px;
    width: 100px;
}
.add-project button:hover{
    border: 2px #6c0000 solid;
    background-color: white;
    color: #6c0000;
}