.log-box{        
    display: flex;
    flex-direction: column;	
	align-items: center;   
    margin: 50px 0;    
    color: white;
    
}
.box-log{
    min-width: 400px;
    background-color: #6c0000;
    padding-bottom: 50px;
    border-radius: 10px;
}
.box-log p{
    padding-left: 20px;
}
.log-box input{
    margin-bottom: 30px;
    margin-left: 10px;
}
.log-box a{
    color: white;
    border-bottom: 1px solid white;
}
.log-box p{
    color: white;
    margin-left: 30px ;
}
.log-box a:hover{
    border:none;
}
.log-box button{
    margin-bottom: 130px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 10px;
    border: white solid 2px;
    background-color: #6c0000;
    color: white;
}
.log-box h1{
    margin: 50px 0;
}
.log-box button:hover{
    background-color: white;
    color: #6c0000;
}