.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin-top: 150px;
   
}
.modal-content{
    width: 400px;
    background-color: rgb(80, 4, 4);
    border-radius: 10px;
}
.modal-header, .modal-footer{
    padding: 10px;
}
.modal-title{
    margin: 0;
}
.modal-body{
    padding: 10px;
    border-top: 1px solid rgb(194, 191, 191);
    border-bottom: 1px solid rgb(194, 191, 191);
}