.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdcdc00;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    margin: auto;
     
   
}
.modal-content {
    width: 400px;
    background-color: #6c0000;
    border-radius: 10px;
}
.modal-header, .modal-footer{
    padding: 10px;
}
.modal-title{
    margin: 0;
}
.modal-body{
    padding: 10px;
    border-top: 1px solid rgb(194, 191, 191);
    border-bottom: 1px solid rgb(194, 191, 191);
}

