.ProjectsPage {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    width: 100vw;
}

.projects-box{
	min-height: 10vh;
	border: 1px solid black;
	margin: 1em;
	padding: 1em;
}