.task-box{
    margin: 0;
    background-color: #6c0000;
    color: white;
    border-radius: 20px;
    padding: 40px 20px;
    margin-top: 20px;
}
.task-box button{
    border: white 2px solid;
    background-color: #6c0000;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top:20px ;
}
.task-box button:hover{
    background-color: white;
    color: #6c0000;
}