nav{
    background-color: #6c0000;
    min-height: 5vh;
}

.nav{
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.home{
    align-content: flex-start;
    margin-left: 2vw;
}

.nav-left{
    align-content: flex-end;
    margin-right: 2vw;
    justify-content: space-between;
    padding: 10px;
    
}
.nav a {
    text-decoration: none;
    color: white;
}
